
h1, h3 {
	position: fixed;
	
	color: black;
	
	width: calc(100% - 1.5em);
	left: 0;
	margin: 0;
	margin-right: 1em;
	
	z-index: 1;
	text-align: center;
	
	font-family: Cordana, Calibri, sans-serif;
	font-size: 2em;
	font-weight: normal;
}

h3 {
	width: 100%;
	top: 2.5em;
	font-size: 1.25em;
	opacity: 0.75;
}


a {
	float: left;
	
	font-size: 80%;
	padding: 0.2em 0.5em;
	text-decoration: none;
	color: black;
}

a:hover {
	background: CornFlowerBlue;
}

.white, .white a {
	color: white;
}

.gray, .gray a {
	color: gray;
}

sup {
	padding-left: 0.1em;
	font-size: 65%;
}

.credits {
	text-align: center;
	font-family: Cordana, Calibri, sans-serif;
	position: absolute;
	width: 100%;
	bottom: 0.5em;
}

.credits a {
	float: none;
	font-size: 100%;
	text-decoration: none;
	padding: 0;
	border-bottom: dotted 1px gray;
}

.credits a:hover {
	background: none;
	color: white;
}
