
h1 {
	position: fixed;
	
	color: black;
	
	width: 100%;
	margin: 0.5em;
	z-index: 1;

	text-align: center;
	
	font-family: Cordana, Calibri, sans-serif;
	font-size: 2em;
	font-weight: normal;
}


a {
	float: left;
	font-size: 80%;
	padding: 0.2em;
	text-decoration: none;
	color: black;
}

a:hover {
	background: CornFlowerBlue;
}

.white, .white a {
	color: white;
}